<form method="GET" action="/calc">
  <input name="first" placeholder="First number">
  <input name="operator" placeholder="Operator">
  <input name="second" placeholder="Second">
  <input type="submit" value="Calculate!!">
</form>